@model NWSports_BasketBall.Models.Performance

@{
    ViewData["Title"] = "Details";
}



<h2>Details</h2>

<div class="container">
    
    <h3>Meet the NW Men's Basketball Team</h3>
    <br />
    <br />
    
    <div class="row">

        <div class="col-md-4">
            <!--Card-->
            <div class="card testimonial-card">

                <!--Bacground color-->
                <div class="card-up default-color-dark">
                </div>

                <!--Avatar-->
                <div class="avatar">
                    <img src="~/images/anthony.jpg" class="img-circle img-responsive">
                </div>

                <div class="card-block">
                    <!--Name-->
                    <h4 class="card-title">Anthony</h4>
                    <h5 class="card-title"><b>GUARD</b> / 6'2" / 175 LBS</h5>
                    <hr>
                    <!--Quotation-->
                    <p><i class="fa fa-quote-left"></i> 2015-16 MIAA Player of the Year (2x First Team All-MIAA) </p>
                </div>
                <a href="http://bearcatsports.com/roster.aspx?rp_id=5161&path=mbball" class="link-text"><h5>Read more <i class="fa fa-chevron-right"></i></h5></a>

            </div>
            <!--/.Card-->
        </div>
        <div class="col-md-4">
            <!--Card-->
            <div class="card testimonial-card">

                <!--Bacground color-->
                <div class="card-up default-color-dark">
                </div>

                <!--Avatar-->
                <div class="avatar">
                    <img src="~/images/brett.jpg" class="img-circle img-responsive">
                </div>

                <div class="card-block">
                    <!--Name-->
                    <h4 class="card-title">Brett</h4>
                    <h5 class="card-title"><b>FORWARD</b> / 6'7" / 220 LBS</h5>
                    <hr>
                    <!--Quotation-->
                    <p><i class="fa fa-quote-left"></i> 2015-16 MIAA Player of the Year (2x First Team All-MIAA)</p>
                </div>
                <a href="http://bearcatsports.com/roster.aspx?rp_id=5151&path=mbball" class="link-text"><h5>Read more <i class="fa fa-chevron-right"></i></h5></a>
            </div>
            <!--/.Card-->
        </div>
        <div class="col-md-4">
            <!--Card-->
            <div class="card testimonial-card">

                <!--Bacground color-->
                <div class="card-up default-color-dark">
                </div>

                <!--Avatar-->
                <div class="avatar">
                    <img src="~/images/chris.jpg" class="img-circle img-responsive">
                </div>

                <div class="card-block">
                    <!--Name-->
                    <h4 class="card-title">Chris</h4>
                    <h5 class="card-title"><b>FORWARD</b> / 6'6" / 211 LBS</h5>
                    <hr>
                    <!--Quotation-->
                    <p><i class="fa fa-quote-left"></i> 2015-16 MIAA Player of the Year (2x First Team All-MIAA)</p>
                </div>
                <a href="http://bearcatsports.com/roster.aspx?rp_id=5157&path=mbball" class="link-text"><h5>Read more <i class="fa fa-chevron-right"></i></h5></a>
            </div>
            <!--/.Card-->
        </div>

    </div>
    <hr />

    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <!--Card-->
                <div class="card testimonial-card">

                    <!--Bacground color-->
                    <div class="card-up default-color-dark">
                    </div>

                    <!--Avatar-->
                    <div class="avatar">
                        <img src="~/images/dray.jpg" class="img-circle img-responsive">
                    </div>

                    <div class="card-block">
                        <!--Name-->
                        <h4 class="card-title">Dray</h4>
                        <h5 class="card-title"><b>GUARD</b> / 6'2" / 175 LBS</h5>
                        <hr>
                        <!--Quotation-->
                        <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
                    </div>
                    <a href="http://bearcatsports.com/roster.aspx?rp_id=5160&path=mbball" class="link-text"><h5>Read more <i class="fa fa-chevron-right"></i></h5></a>

                </div>
                <!--/.Card-->
            </div>
            <div class="col-md-4">
                <!--Card-->
                <div class="card testimonial-card">

                    <!--Bacground color-->
                    <div class="card-up default-color-dark">
                    </div>

                    <!--Avatar-->
                    <div class="avatar">
                        <img src="~/images/grant.jpg" class="img-circle img-responsive">
                    </div>

                    <div class="card-block">
                        <!--Name-->
                        <h4 class="card-title">Grant</h4>
                        <h5 class="card-title"><b>GUARD</b> / 6'2" / 175 LBS</h5>
                        <hr>
                        <!--Quotation-->
                        <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
                    </div>
                    <a href="http://bearcatsports.com/roster.aspx?rp_id=5154&path=mbball" class="link-text"><h5>Read more <i class="fa fa-chevron-right"></i></h5></a>
                </div>
                <!--/.Card-->
            </div>
            <div class="col-md-4">
                <!--Card-->
                <div class="card testimonial-card">

                    <!--Bacground color-->
                    <div class="card-up default-color-dark">
                    </div>

                    <!--Avatar-->
                    <div class="avatar">
                        <img src="~/images/kirk.jpg" class="img-circle img-responsive">
                    </div>

                    <div class="card-block">
                        <!--Name-->
                        <h4 class="card-title">Kirk</h4>
                        <h5 class="card-title"><b>GUARD</b> / 6'2" / 175 LBS</h5>
                        <hr>
                        <!--Quotation-->
                        <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
                    </div>
                    <a href="http://bearcatsports.com/roster.aspx?rp_id=5153&path=mbball" class="link-text"><h5>Read more <i class="fa fa-chevron-right"></i></h5></a>
                </div>
                <!--/.Card-->
            </div>

        </div>
    </div>
    <hr />
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <!--Card-->
                <div class="card testimonial-card">

                    <!--Bacground color-->
                    <div class="card-up default-color-dark">
                    </div>

                    <!--Avatar-->
                    <div class="avatar">
                        <img src="~/images/mosby.jpg" class="img-circle img-responsive">
                    </div>

                    <div class="card-block">
                        <!--Name-->
                        <h4 class="card-title">Mosby</h4>
                        <h5 class="card-title"><b>GUARD</b> / 6'2" / 175 LBS</h5>
                        <hr>
                        <!--Quotation-->
                        <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
                    </div>
                    <a href="" class="link-text"><h5>Read more <i class="fa fa-chevron-right"></i></h5></a>

                </div>
                <!--/.Card-->
            </div>
            <div class="col-md-4">
                <!--Card-->
                <div class="card testimonial-card">

                    <!--Bacground color-->
                    <div class="card-up default-color-dark">
                    </div>

                    <!--Avatar-->
                    <div class="avatar">
                        <img src="~/images/pitts.jpg" class="img-circle img-responsive">
                    </div>

                    <div class="card-block">
                        <!--Name-->
                        <h4 class="card-title">pitts</h4>
                        <h5 class="card-title"><b>GUARD</b> / 6'2" / 175 LBS</h5>
                        <hr>
                        <!--Quotation-->
                        <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
                    </div>
                    <a href="http://bearcatsports.com/roster.aspx?rp_id=5158&path=mbball" class="link-text"><h5>Read more <i class="fa fa-chevron-right"></i></h5></a>
                </div>
                <!--/.Card-->
            </div>
            <div class="col-md-4">
                <!--Card-->
                <div class="card testimonial-card">

                    <!--Bacground color-->
                    <div class="card-up default-color-dark">
                    </div>

                    <!--Avatar-->
                    <div class="avatar">
                        <img src="~/images/tyler.jpg" class="img-circle img-responsive">
                    </div>

                    <div class="card-block">
                        <!--Name-->
                        <h4 class="card-title">Tyler</h4>
                        <h5 class="card-title"><b>GUARD</b> / 6'2" / 175 LBS</h5>
                        <hr>
                        <!--Quotation-->
                        <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
                    </div>
                    <a href="http://bearcatsports.com/roster.aspx?rp_id=5152&path=mbball" class="link-text"><h5>Read more <i class="fa fa-chevron-right"></i></h5></a>
                </div>
                <!--/.Card-->
            </div>

        </div>
    </div>
</div>

@*<div>
    <h4>Performance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Assists)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Assists)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Points)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Points)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rebounds)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rebounds)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Steals)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Steals)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PerformanceID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
