﻿
    .search-background img {
    width: 100%;
    height: auto;
    min-height: 100%;
  min-width: 1024px;
  position: fixed;
  top: 0;
  left: 0; 
    
}
.well-searchbox {
  min-height: 20px;
  min-width: 400px;
  padding: 19px;
  position: absolute;
  z-index: 80;
  top: 90px;
  right: 100px;
  background: rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well-searchbox label {
    color: #fff;
}

