﻿
@{
    ViewData["Title"] = "Team Behind this project!!";
}
<!--<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>-->








<h2>Team Behind this project!!</h2>
<div class="col-lg-12 text-center">
    <h3>Alpha Ninjas </h3>
</div>

<div class="col-lg-12 text-center">
    <div class="row">
        <div class="col-sm-5">
        </div>
        <div class="col-sm-2 center-block">
            <a class="thumbnail" data-toggle="modal" data-target="#popup1" data-toggle="tooltip">
                <img class="center-block" src="~/images/ramya.jpg" alt="">
                <h5><b>Ramya Sankara</b></h5>
                <p>Team Leader</p>

            </a>
        </div>
        <div class="col-sm-5">
        </div>
    </div>

    <!--FIRST ROW ENDS HERE-->

    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-2">
            <a class="thumbnail" data-toggle="modal" data-target="#popup2">
                <img class="center-block" src="~/images/manoj.jpg" alt="">
                <h5><b>Manoj Edara</b></h5>
                <p>Requirements Management</p>
            </a>
        </div>

        <div class="col-sm-4">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <a class="thumbnail" data-toggle="modal" data-target="#popup5">
                    <img class="center-block" src="~/images/sowmya.jpg" alt="">
                    <h5><b>Sowmya Lakkireddy</b></h5>
                    <p>Quality and Testing Management</p>
                </a>
            </div>
            <div class="col-sm-2">
            </div>
        </div>

        <div class="col-sm-2">
            <a class="thumbnail" data-toggle="modal" data-target="#popup3">
                <img class="center-block" src="~/images/sairam.jpg" alt="">
                <h5><b>Sairam Jalla</b></h5>
                <p>Client Management</p>
            </a>
        </div>
        <div class="col-sm-2">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-2">
            <a class="thumbnail" data-toggle="modal" data-target="#popup4">
                <img class="center-block" src="~/images/vihari.jpg" alt="">
                <h5><b>Sai Vihari Venigandla</b></h5>
                <p>Issues Management</p>

            </a>
        </div>

        <div class="col-sm-4">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <a class="thumbnail" data-toggle="modal" data-target="#popup6">
                    <img class="center-block" src="~/images/sravanthi.png" alt="">
                    <h5><b>Sravanthi Palleti</b></h5>
                    <p>Communications and documentation Management</p>
                </a>
            </div>
            <div class="col-sm-2">
            </div>
        </div>

        <div class="col-sm-2">
            <a class="thumbnail" data-toggle="modal" data-target="#popup7">
                <img class="center-block" src="~/images/manohar.jpg" alt="">
                <h5><b>Manohar Sokkula</b></h5>
                <p>Data Management</p>
            </a>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
    <!--SECOND ROW ENDS HERE
        <div class="row">
            <div class="col-sm-3">
                EMPTY COLUMN
            </div>
            <div class="col-sm-2">
                <a class="thumbnail" data-toggle="modal" data-target="#popup4">
                    <img class="center-block" src="img" alt="">
                    <h5>Dinesh <small>Database & Testing</small></h5>
                    Develop Web Applications for the University
                </a>
            </div>
            <div class="col-sm-2">

            </div>
            <div class="col-sm-2">
                <a class="thumbnail" data-toggle="modal" data-target="#popup5">
                    <img class="center-block" src=img alt="">
                    <h5>Shamikar <small>UX & Database</small></h5>
                    Develop Web Applications for the University
                </a>
            </div>
            <div class="col-sm-3">

            </div>
        </div>
    </div>-->
    <div id="popup1" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Ramya sankara</h4>
                </div>
                <div class="modal-body">
                    <img class="img-responsive center-block" src="~/images/ramya.jpg" alt="">
                    <div style="margin-top:3px; font-family:'Times New Roman', Times, serif;font-size:14px">
                        <b>Role:</b> I lead the team in project planning and configuration management.I keep track of the timelines and make sure that the team meets the deadlines by keeping track of individual modules and make sure everthing goes well.
                    </div>
                    <p class="linksHover">
                        <b>Email:</b>
                        <a href="mailto:s525107@mail.nwmissouri.edu?Subject=Feedback" target="_blank"><img src="~/images/Smail-designstyle-friday-m.png"></a>
                    </p>
                    <p class="linksHover">
                        <b>Find me:</b>
                        <a href="https://www.facebook.com/" target="_blank"><img src="~/images/Facebook-48.png"></a>
                        <a href="https://www.linkedin.com/" target="_blank"><img src="~/images/LinkedIn-48.png"></a>
                        <a href="https://twitter.com/" target="_blank"><img src="~/images/Twitter-48.png"></a>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="popup2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Manoj Edara</h4>
            </div>
            <div class="modal-body">
                <img class="img-responsive center-block" src="~/images/manoj.jpg" alt="">
                <div style="margin-top:3px; font-family:'Times New Roman', Times, serif;font-size:14px">
                    <b>Role:</b> I am responsible for gathering requirements for the project and also involved in designing some of the pages.
                </div>
                <p class="linksHover">
                    <b>Email:</b>
                    <a href="mailto:s524997@mail.nwmissouri.edu?Subject=Feedback" target="_blank"><img src="~/images/Smail-designstyle-friday-m.png"></a>
                </p>
                <p class="linksHover">
                    <b>Find me:</b>
                    <a href="https://www.facebook.com/" target="_blank"><img src="~/images/Facebook-48.png"></a>
                    <a href="https://www.linkedin.com/" target="_blank"><img src="~/images/LinkedIn-48.png"></a>
                    <a href="https://twitter.com/" target="_blank"><img src="~/images/Twitter-48.png"></a>

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="popup3" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Sairam Jalla</h4>
            </div>
            <div class="modal-body">
                <img class="img-responsive center-block" src="~/images/sairam.jpg" alt="">
                <div style="margin-top:3px; font-family:'Times New Roman', Times, serif;font-size:14px">
                    <b>Role:</b> I am the client manager for the project. I will be scheduling meetings with the client and user.Involved in data cleaning as well.
                </div>
                <p class="linksHover">
                    <b>Email:</b>
                    <a href="mailto:s525012@mail.nwmissouri.edu?Subject=Feedback" target="_blank"><img src="~/images/Smail-designstyle-friday-m.png"></a>
                </p>
                <p class="linksHover">
                    <b>Find me:</b>
                    <a href="https://www.facebook.com/" target="_blank"><img src="~/images/Facebook-48.png"></a>
                    <a href="https://www.linkedin.com/" target="_blank"><img src="~/images/LinkedIn-48.png"></a>
                    <a href="https://twitter.com/" target="_blank"><img src="~/images/Twitter-48.png"></a>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="popup4" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Sai Vihari Venigandla</h4>
            </div>
            <div class="modal-body">
                <img class="img-responsive center-block" src="~/images/vihari.jpg" alt="">
                <div style="margin-top:3px; font-family:'Times New Roman', Times, serif;font-size:14px">
                    <b>Role:</b> I am responsible for Issues management in the project. Currently, we are using bitbucket Issue tracker to assign the issues for all the team members.
                </div>
                <p class="linksHover">
                    <b>Email:</b>
                    <a href="mailto:s525136@mail.nwmissouri.edu?Subject=Feedback" target="_blank"><img src="~/images/Smail-designstyle-friday-m.png"></a>
                </p>

                <p class="linksHover">
                    <b>Find me:</b>
                    <a href="https://www.facebook.com/" target="_blank"><img src="~/images/Facebook-48.png"></a>
                    <a href="https://www.linkedin.com/" target="_blank"><img src="~/images/LinkedIn-48.png"></a>
                    <a href="https://twitter.com/" target="_blank"><img src="~/images/Twitter-48.png"></a>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="popup7" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Manohar Sokkula</h4>
            </div>
            <div class="modal-body">
                <img class="img-responsive center-block" src="~/images/manohar.jpg" alt="">
                <div style="margin-top:3px; font-family:'Times New Roman', Times, serif;font-size:14px">
                    <b>Role:</b> I am responsible for Database management. I will make sure each and every information in the database was correct.
                </div>
                <p class="linksHover">
                    <b>Email:</b>
                    <a href="mailto:s525116@mail.nwmissouri.edu?Subject=Feedback" target="_blank"><img src="~/images/Smail-designstyle-friday-m.png"></a>
                </p>
                <p class="linksHover">
                    <b>Find me:</b>
                    <a href="https://www.facebook.com/" target="_blank"><img src="~/images/Facebook-48.png"></a>
                    <a href="https://www.linkedin.com/" target="_blank"><img src="~/images/LinkedIn-48.png"></a>
                    <a href="https://twitter.com/" target="_blank"><img src="~/images/Twitter-48.png"></a>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="popup5" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Sowmya Lakkireddy</h4>
            </div>
            <div class="modal-body">
                <img class="img-responsive center-block" src="~/images/sowmya.jpg" alt="">
                <div style="margin-top:3px; font-family:'Times New Roman', Times, serif;font-size:14px">
                    <b>Role:</b> My role was Quality and testing management in my project. Along with the manual testing I will be doing automation by using selenium web driver and I will make sure everything in the project is tested properly and meet the client requirements.
                </div>
                <p class="linksHover">
                    <b>Email:</b>
                    <a href="mailto:s525043@mail.nwmissouri.edu?Subject=Feedback" target="_blank"><img src="~/images/Smail-designstyle-friday-m.png"></a>
                </p>
                <p class="linksHover">
                    <b>Find me:</b>
                    <a href="https://www.facebook.com/" target="_blank"><img src="~/images/Facebook-48.png"></a>
                    <a href="https://www.linkedin.com/" target="_blank"><img src="~/images/LinkedIn-48.png"></a>
                    <a href="https://twitter.com/" target="_blank"><img src="~/images/Twitter-48.png"></a>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="popup6" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Sravanthi Palleti</h4>
            </div>
            <div class="modal-body">
                <img class="img-responsive center-block" src="~/images/sravanthi.png" alt="">
                <div style="margin-top:3px; font-family:'Times New Roman', Times, serif;font-size:14px">
                    <b>Role:</b> I am responsible for communication management. I will note all the minutes and mail to my peers and instructors. I am also involved in data cleaning as well.
                </div>
                <p class="linksHover">
                    <b>Email:</b>
                    <a href="mailto:s525077@mail.nwmissouri.edu?Subject=Feedback" target="_blank"><img src="~/images/Smail-designstyle-friday-m.png"></a>
                </p>
                <p class="linksHover">
                    <b>Find me:</b>
                    <a href="https://www.facebook.com/" target="_blank"><img src="~/images/Facebook-48.png"></a>
                    <a href="https://www.linkedin.com/" target="_blank"><img src="~/images/LinkedIn-48.png"></a>
                    <a href="https://twitter.com/" target="_blank"><img src="~/images/Twitter-48.png"></a>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--<div id="popup6" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Generation of Miracles</h4>
            </div>
            <div class="modal-body">
                <h3 style="font-family:'Times New Roman'">Welcome to Aquatix!</h3>
                <h4 style="font-family:'Times New Roman'">Aquatix is a web based application with the main objective to ease the process of booking an aquarium show and holding aqua based events.</h4>
                <hr />
                <p style="font-family:'Times New Roman';font-style:italic;font-weight:bolder;font-size:larger;text-decoration:underline">Idea behind the Project</p>
                <h4 style="font-family:'Times New Roman'">The idea behind our project was to develop a Ticket Booking System and the chosen domain is Aquarium.</h4>
                <h4 style="font-family:'Times New Roman'">As Aquariums are on of the most visited places in the country and most of the Aquariums have pre-booking facilities through their respective online portals , our team decided to simulate a web portal for the same</h4>
                <h4 style="font-family:'Times New Roman'">The simulation would consider all the requirements that an aquarium portal provides.Though our application would be a simulation and might not be used as a real time project , we as a team hope to develop a full fledged Ticket Booking System for an Aquarium.</h4>
                <h4 style="font-family:'Times New Roman'">We ensure to  meet the requirements of a real time web portal using cutting edge technologies like Asp.Net MVC , Entity Framework , Bootstrap etc.</h4>

                <p style="font-family:'Times New Roman';font-style:italic;font-weight:bolder;font-size:larger;text-decoration:underline">Scope the Project</p>
                <h4 style="font-family:'Times New Roman'">Tickets can be booked for both logged in and guest user</h4>
                <h4 style="font-family:'Times New Roman'">Implemented role based authentication and authorization to restrict view access based on user roles.</h4>
                <h4 style="font-family:'Times New Roman'">Display general events and special events.</h4>
                <h4 style="font-family:'Times New Roman'">Register for Special Ocassions.</h4>
                <h4 style="font-family:'Times New Roman'">Admin module - who will be managing events , orders and users.</h4>
                <h4 style="font-family:'Times New Roman'">Simulation of Payment system which allows users  to book entry tickets and special events and save order details.</h4>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>-->
