﻿@{
    ViewData["Title"] = "Contact";
}
@{
    ViewData["Title"] = "Contact Us Here--";
}









<div class="text-center">
    <h2>Contact</h2>
</div>
<div class="row">
    <div class="span11">
        <div id="isaismap"></div>
    </div>
    <div class="span6">
    </div>
</div>
<hr>

<div class="row">
    <div class="col-md-8">
        <div class="well well-sm">
            <form action="javascript:void(0)">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Name
                            </label>
                            <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Email Address
                            </label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="subject">
                                Subject
                            </label>
                            <select id="subject" name="subject" class="form-control" required="required">
                                <option value="na" selected="">Choose One</option>
                                <option value="service">General Customer Service</option>
                                <option value="suggestions">Suggestions</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Message
                            </label>
                            <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                      placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        @* <button type="submit" >
                                Send Message
                            </button>*@
                        @*  <button style="width:1%;margin-right:40%" type="submit" onclick="contactValidate()"></button>
                        *@
                        <button class="submit" onclick="myFunction()">Submit</button>

                        <script>
function myFunction() {
    alert("Done!");
}</script>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-4">
        <form action="javascript:void(0)">
            <legend><span class="glyphicon glyphicon-globe"></span> Our office</legend>
            <address>
                <strong>Alpha Ninjas</strong><br>
                800 University Drive<br>
                Maryville, MO 64468<br>
                <abbr title="Phone">
                    Phone:
                </abbr>
                (123) 456-7890
            </address>
            <address>
                <strong>Team</strong><br>
                <a href="mailto:S525107@mail.nwmissouri.edu">alphaninjassupport</a>
            </address>
        </form>
    </div>
</div>
<div class="col-xs-12" style="min-height: 400px"><img src="~/images/map.png" /></div>
<!--<div id="map_canvas" class="col-xs-12" style="min-height: 400px; ">
</div>

@section Scripts{
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
        <!-- http://dotnetdevtricks.blogspot.com/2012/10/google-map-api-v3-with-mvc4-razor.html -->

        $(document).ready(function () {
            initialize();
        });
        function initialize() {
            var title ="Office";
            var lat = 40.3434;
            var long = -94.870028;
            var mapOptions = {
                center: new google.maps.LatLng(lat,long),
                zoom: 10,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"),mapOptions);

            var latlng = new google.maps.LatLng(lat, long);
            var marker = new google.maps.Marker({
                position: latlng,
                title:  title,
                map: map,
                draggable: false
            });
        }

        function contactValidate() {

            alert("Your message has been sent successfully")

        }
    </script>
}-->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p style="font-size:large;font-weight:bold">Message sent successfully</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>

            </div>
        </div>

    </div>
</div>
<div>

</div>