﻿@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html class="full" lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <meta name="description" content="">
    <meta name="author" content="">




    <title>Material Design Bootstrap</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-

awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">

    <!-- Template styles -->
    <style rel="stylesheet">
        /* TEMPLATE STYLES */
        /* Necessary for full page carousel*/

        html,
        body,
        .view {
            height: 100%;
        }
        /* Navigation*/

        .navbar {
            background-color: #000000;
        }

        .scrolling-navbar {
            -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
            -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
            transition: background .5s ease-in-out, padding .5s ease-in-out;
        }

        .top-nav-collapse {
            background-color: #FF0000;
        }

        footer.page-footer {
            background-color: #1C2331;
            margin-top: 0;
        }


        /* Carousel*/


        .carousel,
        .carousel-item,
        .active {
            height: 100%;
        }

        .carousel-inner {
            height: 100%;
        }

        .carousel-item:nth-child(1) {
            background-image: url("http://mdbootstrap.com/images/regular/nature/img%20(54).jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .carousel-item:nth-child(2) {
            background-image: url("http://mdbootstrap.com/images/regular/nature/img%20(4).jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .carousel-item:nth-child(3) {
            background-image: url("http://mdbootstrap.com/images/regular/nature/img%20(3).jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
        /*Caption*/

        .flex-center {
            color: #fff;
        }
    </style>

</head>

<body style="background-image:url(../images/Backgrounds.jpg)">

    <!--Mask-->

    <div class="full-bg-img flex-center">
        <ul class="animated fadeInUp col-md-12">
            <li>
                <h1 class="h1-responsive flex-item text-white text-lighten-1">Northwest Bearcats Men's Basketball Statistics</h1>
                <h3 class="h3-responsive flex-item text-white text-lighten-1">Display visualizations for Player & Match Statistics in an interactive charts</h3>
            </li>

            <li>
                <a asp-area="" asp-controller="Matches" asp-action="Index" class="btn btn-success btn-lg">View Visualizations Here!!</a>
            </li>
        </ul>
    </div>

    <!--/.Mask-->
    <!--Controls-->
    
    <!--/.Controls-->
    <!--/.Carousel Wrapper-->
    <!--/.Main layout-->
    <!--Call to action-->
    <!--/.Call to action-->
    <!--Copyright-->
    <!--/.Copyright-->
    <!--/.Footer-->
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>


</body>

</html>