@*@model IEnumerable<NWSports_BasketBall.Models.Match>*@

@{
    ViewData["Title"] = "Index";
}

@*<h2>Index</h2>*@


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Material Design Bootstrap -->
<link href="css/mdb.min.css" rel="stylesheet">


<link href="~/css/StyleSheet.css" rel="stylesheet" />


<div class="container">
    <div class="wrapper">
        <img src="~/images/ball.jpeg" class="img-responsive">
    </div>
   
</div>
<div class="well-searchbox">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            @*<label class="col-md-4 control-label">Keyword</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" placeholder="Keyword">
                </div>*@
        </div>


        @*<div class="form-group">
                <label class="col-md-4 control-label" style="font-size: large">Coach</label>
                <div class="col-md-8">
                    <select class="form-control" placeholder="Province" style="border-color:white;color:white; background-color: black;">
                        <option value="">Select</option>
                        <option value="">John</option>
                        <option value="">Jesse</option>
                    </select>
                </div>
            </div>*@



        <div class="col-sm-offset-4 col-sm-5">
            @*<button type="submit" class="btn btn-success" href="~Views/Matches/Details">Search</button>*@
            <input type="button" class="active" onclick="location.href = 'http://localhost:5000/Positions/Details';" value="Match Statistics" /><br /> <br />
            <input type="button" class="active" onclick="location.href = 'http://localhost:5000/Teams/Details';" value="Year-wise Statistics" /><br /> <br />
            <input type="button" class="active" onclick="location.href = 'http://localhost:5000/Matches/Details';" value="Player Statistics" /><br /> <br />

        </div>
        <div class="col-form-label col-sm-offset-4 col-sm-5">
            <a href="#">Generate Player Statistics Data</a>
        </div>
    </form>  
 </div>




@*<p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.HomePoints)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OpponentPoints)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HomePoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpponentPoints)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MatchID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MatchID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MatchID">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
