@model NWSports_BasketBall.Models.Position

@{
    ViewData["Title"] = "Details";
}
<h2>Details</h2>

@*<div>
    <h4>Position</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PositionCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PositionCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PositionName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PositionName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PositionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
<!DOCTYPE html>
<html>
<head>
    <a class="btn btn-default" asp-area="" asp-controller="Matches" asp-action="Index">
        <b>Back</b>
    </a>
    <br />
    
    <h2>Match-wise Statistics</h2>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);


      function drawChart() {

      mycity = document.getElementById("thedropdown").value;


     info = [{city: "Upper Iowa", team: "northwest", score: 40, assists: 8, steals: 2, pf: 3, rebounds: 7},
     {city: "Upper Iowa", team: "opponent", score: 45, assists: 9, steals: 3, pf: 5, rebounds: 8},
     { city: "Wayne State", team: "northwest", score: 50, assists: 7, steals: 5, pf: 8, rebounds: 6 },
     { city: "Wayne State", team: "opponent", score: 32, assists: 5, steals: 6, pf: 10, rebounds: 6 },
     { city: "Augustana", team: "northwest", score: 30, assists: 8, steals: 2, pf: 3, rebounds: 7 },
     { city: "Augustana", team: "opponent", score: 35, assists: 9, steals: 3, pf: 5, rebounds: 8 },
     { city: "Central Methodist", team: "northwest", score: 50, assists: 4, steals: 2, pf: 3, rebounds: 7 },
     { city: "Central Methodist", team: "opponent", score: 45, assists: 5, steals: 3, pf: 5, rebounds: 8 },
     { city: "Southwest Baptist", team: "northwest", score: 60, assists: 6, steals: 2, pf: 3, rebounds: 7 },
        { city: "Southwest Baptist", team: "opponent", score: 45, assists: 7, steals: 3, pf: 5, rebounds: 6 },
        { city: "Central Missouri", team: "northwest", score: 40, assists: 8, steals: 2, pf: 3, rebounds: 5 },
        { city: "Central Missouri", team: "opponent", score: 55, assists: 9, steals: 4, pf: 5, rebounds: 7 },
        { city: "Missouri Southern", team: "northwest", score: 40, assists: 8, steals: 2, pf: 3, rebounds: 7 },
        { city: "Missouri Southern", team: "opponent", score: 65, assists: 9, steals: 3, pf: 5, rebounds: 5 },
        { city: "Pittsburg State", team: "northwest", score: 40, assists: 8, steals: 5, pf: 3, rebounds: 6 },
        { city: "Pittsburg State", team: "opponent", score: 35, assists: 9, steals: 3, pf: 5, rebounds: 4 },
        { city: "Lincoln", team: "northwest", score: 30, assists: 7, steals: 4, pf: 3, rebounds: 7 },
        { city: "Lincoln", team: "opponent", score: 45, assists: 9, steals: 3, pf: 5, rebounds: 5 },
        { city: "Lindenwood", team: "northwest", score: 50, assists: 7, steals: 2, pf: 3, rebounds: 3 },
        { city: "Lindenwood", team: "opponent", score: 45, assists: 6, steals: 3, pf: 5, rebounds: 4 }
     ];

     for(i=0; i<info.length; i++) {
         if (mycity == info[i].city && info[i].team == "northwest") {

       scorenorthwest = parseInt(info[i].score);
       assistsnorthwest = parseInt(info[i].assists);
       stealsnorthwest = parseInt(info[i].steals);
       pfnorthwest = parseInt(info[i].pf);
       reboundsnorthwest = parseInt(info[i].rebounds);

    }// end if

    if(mycity == info[i].city && info[i].team=="opponent") {
       scoreopponent = parseInt(info[i].score);
       assistsopponent = parseInt(info[i].assists);
       stealsopponent = parseInt(info[i].steals);
       pfopponent = parseInt(info[i].pf);
       reboundsopponent = parseInt(info[i].rebounds);

    }// end if
    } // end for

        var data = google.visualization.arrayToDataTable([
          ['Element', 'Northwest', 'Opponent'],
          ['score', scorenorthwest, scoreopponent],
          ['Assists', assistsnorthwest, assistsopponent],
          ['Steals', stealsnorthwest, stealsopponent],
          ['PF', pfnorthwest, pfopponent],
          ['Rebounds', reboundsnorthwest, reboundsopponent]
        ]);

        var options = {
          chart: {
            title: 'Team Report',
            subtitle: 'Score, Assists, Steals, PF and Rebounds',
          }
        };

        var chart = new google.visualization.BarChart(document.getElementById('div_chart'));

        chart.draw(data, options);
      }
    </script>
</head>
<body>
    <form id="form1" name="form1" onchange="drawChart(); return false">

        <select id="thedropdown">
            <option value="0">Choose:</option>
            <option value="Upper Iowa" selected="selected">Upper Iowa</option>
            <option value="Wayne State">Wayne State</option>
            <option value="Augustana">Augustana</option>
            <option value="Central Methodist">Central Methodist</option>
            <option value="Southwest Baptist">Southwest Baptist</option>
            <option value="Central Missouri">Central Missouri</option>
            <option value="Missouri Southern">Missouri Southern</option>
            <option value="Pittsburg State">Pittsburg State</option>
            <option value="Lincoln">Lincoln</option>
            <option value="Lindenwood">Lindenwood</option>
        </select>

    </form>
    <div style="width: 70%">
        <div id="div_chart"></div>
    </div>
</body>
</html>
